node_modules/
dist/
.env
*.log
.DS_Store
.env.local
.env.production
backend/node_modules/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.production
uploads/
